.carrosel{
    width: 100%;
    height: 0%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    object-fit: cover;
}
.bg-image {
    background-image: url("img/75439312_1572086449599453_9192336427080220672_n.jpg");
  
    /* Tamanho Total */
    height: 100%;
    width: 100%;
  
    /* Centralizar e escalar a imagem perfeitamente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.resptexto-10 {
  font-size:4vh;
  z-index: 2;
  padding: 20px;
  text-align: center;
}
  .bg-azul{
  background-color: rgb(66, 170, 255);
  }

  .barinicial {
    font-family:'Arial Narrow', Arial, sans-serif; 
    background-image: url(img/familia-feliz-viajando-de-carro-1\ \(1\).jpg);
    font-size: 30px; color: white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }

  .logo {
    float: right;
    width: 35%; /* The width is 20%, by default */
  }

  /* Usa a 'media' para aplicar efeitos quando a tela atingir 600px: */
  @media screen and (min-width: 700px) {
    .logo{
      width: 20%; /* Ajusta o tamanho do elemento de acordo com o tamanho da tela*/
    } 
  }
  @media screen and (min-width: 900px) {
    .logo{
      width: 15%; /* Ajusta o tamanho do elemento de acordo com o tamanho da tela*/
    } 
  }

  